<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="top-fotter">
  <img src="assets\images\fb.png" alt="facebook" />
  <img src="assets\images\ig.png" alt="instagram" />
  <img src="assets\images\tik-tok.png" alt="tik-tok" />
  <img src="assets\images\yt.png" alt="youtube" />
</div>
<div id="menu">
  <div id="select-options">
    <button class="Candles-bar" (click)="visibility = !visibility">
      Candles
    </button>
    <div id="menu-icon">
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
      <div class="menu-icon"></div>
    </div> <br> <br>
    <div *ngIf="visibility" class="candles-group-pick">
      <p class="option-group">Shape</p>
      <p class="candles-option" (click)="changeVisibility($event)">Skull candles</p>
      <p class="candles-option"(click)="changeVisibility($event)">Crystal candles</p>
      <p class="candles-option"(click)="changeVisibility($event)">Statue candles</p>
      <p class="option-group">Scent</p>
      <p class="candles-option"(click)="changeVisibility($event)">Woody</p>
      <p class="candles-option"(click)="changeVisibility($event)">Floral</p>
      <p class="candles-option"(click)="changeVisibility($event)">Sweet</p>
      <p class="candles-option"(click)="changeVisibility($event)">Mystical</p>
    </div>

    <!-- <select name="" id=""> 
      <option value="return">Candels</option>
      <optgroup label="Shape" class="option-group">
        <option value="Skull-candles" >Skull candles</option>
        <option value="Crystal-candles">Crystal-candles</option>
        <option value="Statue-candles">Statue-candles</option>
      </optgroup>
      <optgroup label="Scent" class="option-group">
        <option value="Woody">Woody</option>
        <option value="Floral">Floral</option>
        <option value="Sweet">Sweet</option>
        <option value="Mystical">Mystical</option>
      </optgroup>
    </select>   -->
  </div>

  <div id="menu-img">
    <img src="assets\images\logo.png" alt="fantasies" />
  </div>
  <div id="login">
    Log in <img src="assets\images\search-symbol.png" alt="search" /> 
    <img src="assets\images\lock-icon.png" alt="lock" />
  </div>
</div>
<div id="down-menu">make your fantasies come to life</div>
<div id="center">
 
  <app-images [candles_visibility_race]="candle_option_visability" [candle_race_name]="candle_option_name"
  [candles_visibility_choosen]="candle_pick" [candles_visibility_default]="candle_default"
  ></app-images>
</div>
<div id="footer">
  <span class="words">Refund </span> <span class="words">Newsletter </span>
  <span class="words">Contact </span> <span class="words">About us </span>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
