<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="top-fotter">
  <img src="assets\images\fb.png" alt="facebook" />
  <img src="assets\images\ig.png" alt="instagram" />
  <img src="assets\images\tik-tok.png" alt="tik-tok" />
  <img src="assets\images\yt.png" alt="youtube" />
</div>
<div id="menu">
  <div id="select-options">
    <select name="" id="">
      <option value="return">Candels</option>
      <optgroup label="Shape" class="option-group">
        <option value="Skull-candles">Skull candles</option>
        <option value="Crystal-candles">Crystal-candles</option>
        <option value="Statue-candles">Statue-candles</option>
      </optgroup>
      <optgroup label="Scent" class="option-group">
        <option value="Woody">Woody</option>
        <option value="Floral">Floral</option>
        <option value="Sweet">Sweet</option>
        <option value="Mystical">Mystical</option>
      </optgroup>
    </select>
  </div>
  
  <div id="menu-img">
    <img src="assets\images\fantasies.jpg" alt="fantasies" />
  </div>
  <div id="login">Log in <img src="" alt="search" /> <img src="" alt="lock" /></div>
</div>
<div id="down-menu">make your fantasies come to life</div>
<div id="center"></div>
<div id="footer">
  
    <span>Refund </span> <span>Newsletter </span> <span>Contact </span> <span>About us </span>
  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
