<span id="candles-center" *ngIf="candles_visibility_default">
  <h1 class="top-hits">Top hits</h1>
  <div id="images-candle-main-page" *ngFor="let candle of candles_menu">
    <img
      [src]="candle.source"
      [alt]="candle.alternate"
      [name]="candle.alternate"
      (click)="
        candleFull(candle.source);
        candles_visibility_default = false;
        candles_visibility_choosen = true;
        candles_visibility_race = false
      "
    />
    <p class="candle_name">{{ candle.alternate }}</p>
  </div>
</span>
<span id="" *ngIf="candles_visibility_choosen">
  <div id="choosen_div">
    <div id="choosen_candle">
      <img [src]="choosen_candleURL" alt="Wybrana świeczka" />
    </div>
    <div id="choosen_candle_description">
      <div id="exit">
        <span
          (click)="
            candles_visibility_default = true;
            candles_visibility_choosen = false;
            candles_visibility_race = false
          "
          >Exit X</span
        >
      </div>
      <div id="description">
        {{ choosen_candleDescription }}
      </div>
      <div id="add_to_cart"><button>Add to cart</button></div>
    </div>
  </div>
</span>
<span *ngIf="candles_visibility_race" id="candle_race">
  <h1 style="text-align: center">{{ candle_race_name }}</h1>
  <span *ngFor="let candle_race of candles">
    <div
      [ngStyle]="
        candle_race.race !== candle_race_name ? { display: 'none' } : {}
      "
    >
      <div class="candle_race_div">
        <img
          [src]="candle_race.source"
          [alt]="candle_race.alternate"
          (click)="
            candleFull(candle_race.source);
            candles_visibility_default = false;
            candles_visibility_choosen = true;
            candles_visibility_race = false
          "
        />
      </div>
    </div>
  </span>
</span>
