#images-candle-main-page img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
#images-candle-main-page {
  text-align: center;
  width: 20%;
  float: left;
  height: 230px;
  padding: 20px;
  margin: 20px;
}
#choosen_candle{
 width: 50%;
 height: 349.2px;
  text-align: right;
 float: left;
}
#choosen_candle img{
  width: 349.2px;
  height: 349.2px;
 
}
#choosen_candle_description{
  background-color: #DBABC3;
  width: 50%;
  height: 349.2px;
  color: #071820;
  float: left;
  
}
#choosen_div{
margin: 50px;
width: 80%;
height: 100%;
}
#exit{
  font-size: 300%;
  text-align: right;
}
#exit:hover{
  cursor: pointer;
}
#description{
  font-size: 200%;
  text-align: center;
}
#add_to_cart{
  text-align: right;
  
}
#add_to_cart button{
  background-color: #071820;
  color: #FAEEE2;
  border: none;
  font-size: 200%;
}
#add_to_cart button:hover{
  cursor: pointer;
}
.candle_race_div{
  width: 30%;
  height: 30%;
  text-align: center;
  float: left;
  margin: 20px;
}
.candle_race_div img{
  width: 50%;
  height: 50%;
  margin: 20px;
  cursor: pointer;
  
}
.top-hits{
  text-align: center;
  font-size: 600%;
  margin-bottom: 0px;
}
.candle_name{
  text-align: center;
  background-color: #071820;
  width: 50%;
  position: relative;
  left: 24%;
}
